.loader {
  display: block;
  background-image: url(../images/pokemon_icon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  background-size: contain;
  width: 150px;
  height: 50px;
}
